name: sandbox

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    runs-on: windows-2019
    strategy:
      matrix:
        dotnet: [ '4.7.2' ]
    steps:
    - uses: actions/checkout@v2
    # - name: Setup dotnet
    #   uses: actions/setup-dotnet@v1
    #   with:
    #     dotnet-version: ${{ matrix.dotnet }}
    - name: LS
      run: |
        ls
