name: sandbox

on:
  push:
    branches:
      - main

jobs:
  build:
    name: Build
    env:
      MY_SECRET: ${{secrets.commit_secret}}
      USER_NAME: githubaction
      USER_EMAIL: githubaction@fake.com
      PUBLISH_DIR: out
      GH_PAGES_BRANCH: out
    runs-on: windows-2019
    strategy:
      matrix:
        dotnet: [ '4.7.2' ]
    steps:
      - uses: actions/checkout@v2
      # - name: Setup dotnet
      #   uses: actions/setup-dotnet@v1
      #   with:
      #     dotnet-version: ${{ matrix.dotnet }}
      - name: LS
        run: |
          Expand-Archive -Path AssetStudio.zip -DestinationPath AssetStudio
          .\AssetStudio\Release\AssetStudioConsole.exe artifacts ${env:PUBLISH_DIR}
          Start-Sleep -Seconds 30
          Get-Childitem out -include * -depth 100
          cd out
          ls
          # git init
          # git config --global user.name ${env:USER_NAME}
          # git config --global user.email ${env:USER_EMAIL}
          # git status
          # git remote add origin https://${env:MY_SECRET}@github.com/${env:GITHUB_REPOSITORY}.git
          # git checkout -b ${env:GH_PAGES_BRANCH}
          # git add --all
          # git commit -m "deploy to GitHub pages"
          # git push origin ${env:GH_PAGES_BRANCH} -f
